.customer_service{
    .customer_service .sf-tabs__title {
        color: #3C3C3C;
        left: 0%;
        right: 78.65%;
        top: 0%;
        bottom: 23.81%;
        display: flex;
        align-items: center;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    }
}