.footer{
    .sf-heading__title,
h5 {
    // font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.sf-menu-item__label {
    // font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.help .sf-menu-item__label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #EFEFEF;
}

.social {
    @media (max-width: 1024px) {
        padding: 16px 0 0 0;
    }
    button.sf-button--pure.sf-footer-column__title.smartphone-only.sf-button {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 22px;
        color: #FFFFFF;
        padding-left: 42px;
    }
    .sf-footer-column__content {
        display: var(--footer-column-content-display, block) !important;
        margin-top: 22px;
    }
    .sf-footer-column__content.sf-footer-column__content--hidden-on-mobile {
        display: block !important;
    }
    .footer__socials {
        @media (max-width: 1024px) {
            padding: 0 8px 0 8px;
        }
    }
    .footer .sf-footer-column, .footer .sf-footer-column__title {
        background: transparent;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}

.language {
    @media (max-width: 1024px) {
        display: none;
    }
}

.sf-footer__container {
    @media (max-width: 1024px) {
        margin: 16px 0;
    }
}

.sf-footer-column,
.sf-footer-column__title {
    background: transparent;
}



.footer__subscribe {
    left: unset !important;
    @media (max-width: 1024px) {
        position: unset !important;
        background: #3C3C3C;
        margin: 0 !important;
        padding: 0 8px 38px 8px;
        border-top: 2px solid #3C3C3C;
        border-bottom: 2px solid #3C3C3C;
    }
    .sf-input input {
        background: #FFFFFF;
        height: 32px;
    }
}

.sf-footer-column__content.sf-footer-column__content--hidden-on-mobile {
    // @media (max-width: 1024px) {
    //     display: block !important;
    // }
}

.footer__subscribe {
    height: 32px;
}

.subscribe__button {
    height: 32px;
}

.department {
    margin-left: 40.14px;
}

.help {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-left: 79px;
    font-size: 16px;
}

.payment_delivery {
    margin-left: 75px;
}

.language {
    margin-left: 40.14px;
}

.sf-footer {
    background: #3C3C3C;
    @media (max-width: 1024px) {
        padding: 21px 0 0 0 !important;
    }
}

.sf-footer-column {
    button.sf-button--pure.sf-footer-column__title.smartphone-only.sf-button {
        width: 100%;
        span.sf-footer-column__chevron {
            right: 0;
            margin-left: auto;
            text-align: right;
        }
        .sf-chevron__bar:after {
            background: #3C3C3C;
        }
    }
    .sf-menu-item__label {
        color: #3C3C3C;
        &:hover {
            color: #037EE6 !important;
        }
    }
}

.about_us,
.department,
.help,
.payment_delivery,
.language,
.sf-footer {
    @media (max-width: 1024px) {
        margin-left: 0;
        background: #F9F9F9;
        color: #FFFFFF;
        padding: 21px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
    }
}

.sf-footer-column button.sf-footer-column__title.smartphone-only{
    @media (max-width: 1024px) {
        width: 100%;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase !important;
    }
}


.sf-footer {
    border-top: var(--spacer-xs) solid #037EE6 !important;
}

.social {
    @media (max-width: 1024px) {
        margin-top: 50px;
        background: #3C3C3C;
        color: #FFFFFF;
        border-top: 9px solid #3C3C3C;
        border-bottom: 2px solid #3C3C3C;
    }
}

.sf-footer-column .sf-menu-item__label {
    @media (min-width: 1024px) {
        color: #FFFFFF !important;
    }
}

.footer-logo {
    .svg-image svg {
        background: #FFFFFF;
    }
}
}