#billing {
    @media (max-width:1024px) {
        form.bil .for {
            width: 98px;
        }
        button.form__action-button.extend.sf-button {
            margin-top: 83px;
        }
        .form__action {
            margin-top: 650px;
            position: absolute;
        }
    }

    .sf-radio.sf-address.billing__address {
        width: 340px;
        height: 190px;
    }

    .sf-address-picker.billing__addresses {
        display: flex;
        flex-wrap: wrap;
    }

    button.color-light.form__action-button.form__action-button--add-address.sf-button {
        width: 280px;
        height: 50px;
        background-color: #EFEFEF;
        font-size: 16px;
        margin-top: 30px;
        font-weight: 600;
    }

}


label.sf-input__label.will-change {
    padding-bottom: 10px;
    position: absolute;
   
    left: 4px;
    top: 39.71%;
    bottom: 2.38%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 61px;
    display: flex;
    align-items: center;
}

.extend {
    margin-top: 50px;
}

.shipping-provider {
    .sf-radio.sf-radio--transparent {
        z-index: 1;
    }

    .accordion {
        z-index: 999999;
    }
}

.one {
    display: flex;
    height: 20PX;
    padding: 5px;
    margin: 10px;
}

.lii {
    @media (max-width:1024px) {
        display: block !important;
        border-top: 0px !important;
        border-bottom: 2px solid #EFEFEF;
        height: auto;
        margin: 7px 3px;
    }

    display: flex;
    border-top: 2px solid #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
    width: 810px;

    height: 74px;
    padding-top: 12px;
}

.pay {
    width: 228px;
    // height: 32px;
    font-weight: 600, bold;
    font-size: 1.7rem;
}

.form__control {
    border: none;
    // border-color: #EFEFEF;
    border-bottom: 1px solid #3c3c3c;
    height: 50px;
    margin: 10px;
}

form.bil {
    margin-top: 55px;
    width: 610px;

    .sf-input input {
        border-color: transparent !important;

        &:focus-visible {
            outline: unset !important;
        }
    }

    label.sf-input__label {
        font-size: 16px;
        color: #3C3C3C;
    }

    .sf-input__label {
        top: 60% !important;
    }

    .for {
        width: 216px;
    }

    .dis {
        display: flex;
    }

    a {
        margin: 35px 0 0 55px;
        color: #037EE6;
    }

    select {
        background-color: white;
    }

    #ed {
        margin: 30px 40px 0 10px;
        font-size: 16px;
        font-weight: 400, regular;
        font: source sans pro;
    }

    .form-check-input {
        // width: 258px;
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400, regular;
    }
}

.free-shipping {
    .sf-radio.sf-radio--transparent {
        width: 320px;
    }
}

.shipping {
    @media (max-width:1024px) {
        button.smartphone-only.go.sf-button {
            margin-top: 765px;
            position: absolute;
        }
        button.color-light.form__action-button.form__action-button--add-address.adnew.sf-button{
            margin-top: -50px !important;
        }
        button.accordion {
            display: none;
        }
        // .adnew{
        //     margin-top: -50px !important;
        // }
        button.form__action-button.sf-button {
            background-color: #037ee6;
            position: absolute;
            margin-top: 700px !important;
            width: 343px;
        }

        button.form__action-button.sf-button.is-disabled--button {
            position: absolute;
            margin-top: 620px;
            width: 343px;
        }
    }
    .shipping-method.ShippingClass{
        background-color: transparent !important;
    }
    .sf-radio.sf-address.shipping__address {
        width: 340px;
        height: 190px;
    }

    .sf-address-picker.shipping__addresses {
        display: flex;

        flex-wrap: wrap;
    }

    button.color-light.form__action-button.form__action-button--add-address.sf-button {
        width: 280px;
        height: 50px;
        background-color: #EFEFEF;
        font-size: 16px;
        font-weight: 600;
    }

    .sf-divider {
        display: none;
    }
}

#checkout {
    .checkout__aside {
        // margin-left: 35px !important;
        @media (max-width:1024px) {
                margin-top: 29px !important;
                height: 840px;
            }
    }
}