.cart-page {
    .empty-cart__heading{
        margin-top: 150px;
    }
    a.sf-link.sf-collected-product__title {
        margin-bottom: 0px;
    }
    .clear{
        width: 100px;
        font-size: 14px;
        border-radius: 5px;
        height:40px;
    }
     .sf-collected-product {
         &:hover::after {
             content: unset !important;
         }
         .sf-circle-icon {
             display: none;
         }
         .sf-collected-product__actions {
             display: none;
         }
     }
 }
 #cart{
    .list {
        // margin-top: -10px;
        width: 400px;
        height: 146px;
        font-weight: 70;
        // padding: 1em;
        p {
            width: 366px;
            height: 40px;
            margin-top: 25px;
            font-weight: 300, light;
          }
      }
      a.mmssgg {
        margin: 70px 100px;
    }
    .mail {
        // text-align: center;
        margin-left: 85px;
        margin-top: 10px;
        padding: 0.5rem;
        height: 18px;
        display: flex;
        @media (max-width:1024px) {
            margin-left: 0px;
        }
      }
    
     .sf-circle-icon {
         // display: none;
         padding: 3px;
         height: 24px;
         width: 24px;
         --icon-size: 1rem;
     }
     a.clear{
         margin-left: 135px;
         text-decoration: underline;
         font-weight: 300 bold;
         color: #037EE6;
     }
 }
 .sf-heading__description{
    @media (max-width: 1024px) {
    text-align: center;
    line-height: 22px;
    font-family: 'Roboto';
    color: #3c3c3c;
    }
    }
