.cartpreview {
    .sf-characteristic__title {
        font-weight: 400 !important;
        font-size: 16px;
        width: 192px;
        height: 21px;
        line-height: 22px;
        font-family: "Source Sans Pro";
    }
   
    .sf-characteristic__description {
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;
    }

    
}