.sf-button--pure.sf-accordion-item__header.sf-button {
    display: none;
    ul.sf-list.list {
        display: table-caption;
        .sidebar.desktop-only {
            display: table-caption;
        }
    }
}
.p {
    display: inline;
}
.span.sf-chevron--right.sf-chevron {
    position: relative;
    left: 143px;
    top: -21px;
}