#category{

    .product__found{
        margin-right: auto;
    }
    .navbar__sort{
        margin-left: 20px;
    }
    .filter-title{
        display:flex;
        margin-right: 10px;
      
    }
    .filterheading {
        margin: auto;
    }
    .selectvalue{
        width: max-content;
    }
    .colon{
        margin-top: 2px;
    }
}

