.sf-menu-item__label{
    color: var(--menu-item-label-color, var(--c-dark-variant));
    text-align: left;
    font-family: 'Source Sans Pro';
    font-style: normal;
    // font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    // color: #3C3C3C;
}