#my-account {
    .heading{
        font-size: 24px;
    }
    .info{
        float: right;
        // left: 5%;
        // right: 5%;
        // top: 5%;
        margin-top: -50px;
        // height: 28.8px;
        // width: 28.8px;
    }
    .shippinga{
        margin-top: 40px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    }
    .borderbox1{
        width: 320px;
        height: 190px;
        left: 572px;
        top: 418px;
        padding: 10px;
        border: 1px solid #EFEFEF;
    }
    .borderbox2{
        width: 320px;
        height: 190px;
        // left: 966px;
        // top: 418px;
        padding: 10px;
        border: 1px solid #EFEFEF;
    }
    .billinga{
        float: right;
        margin-top: -42px;
        margin-right: 230px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    }
    .card{
        display: block;
    }
    .pricefont{
        font-size: 50px;
    }
    .address{
        display:inline-block;
        margin-top: 100px;
        margin-left: -110px;
    }
    .billingaddress{
        display: flex;
        margin-top: -212px;
        margin-left: 435px;
    }
    .shippingdetails{
        margin-top: 0px;
        float: left;
    }
    .billingingdetails{
        float: right;
        margin-right: -84px;
        margin-top: 40px;
    }
    .orderitem{
        float: left;
        margin-left: -200px;
        margin-top: 210px;
        padding: 0 0 40px 0 !important;
        font-size: 18px !important;
    }
    .textaddress{
        color: black;
    }
    .colo{
        color: black;
    }

    .addresses__address{
        margin-top: 56px;
    }
    .fontorder{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    .orderitems{
        margin-top: 230px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        padding: 0 0 40px 0;
    }
    .products{
        .oitem{
            margin-top: 20px;
        }
        .odescription{
            margin-top: 20px;
        }
        .ocolor{
            margin-left: 120px;
            margin-top: 20px;
        }
        .osize{
            margin-top: 20px;
        }
        .oquantity{
            margin-top: 20px;
        }
        .Amount_price{
            margin-top: auto;
            margin-left: 10px;
        }
        .descriptionfor{
            margin-left: 110px;
        }
        .colorfor{
            margin-left: 318px;
            margin-top: -50px;
        }
        .sizefor{
            margin-left: 72px;
            margin-top: 3px;
        }
        .qtyfor{
            margin-left: 62px;
        }
        .pricefor{
            margin-right: -73px;
        }
    }

    .sf-table__row{
        height: 80px;
    }
    .message{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    .notorder{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .oid,.pdate,.pmethod,.amount,.status,.dall{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
   .orders{
        .pdate{
            margin-left: 45px;
        }
        .pmethod{
            margin-left: 50px;
        }
        .oamount{
            margin-left: 30px;
        }
        .status{
            margin-left: 42px;
        }
        .dall{
            margin-left: 83px;
        }
   }
    .getterid,.getterdate,.gettrsmethod,.getterprice,.getterstatus,.getterdownload{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #3C3C3C;
    }
    .getterid{
        width: 48px;
        height: 22px;
        position: fixed;
    }
    .getterdate{
        width: 48px;
        height: 22px;
        margin-left:105px;
        // position: fixed;
    }
    .gettrsmethod {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        margin-left: 10px;
    }
    .getterprice {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        margin-left: 30px;
    }
    .getterstatus {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        color: #F87100;
        margin-right: 30px;
    }
    .getterdownload {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* or 129% */   

        text-align: right;
        text-decoration-line: underline;
    }
    .products{
        margin-top:-40px;
    }
    .product-sku{
        margin-left: 0px;
        margin-top: 10px;
    }
    .property{
        margin-top: 16px;
    }
    
}
