#payment {
    tr.sf-table__heading {
        border-bottom-color: #037EE6;
    }

    hr.sf-divider {
        border-bottom-color: #037EE6;
    }


}

.checkout__main {
    .sf-input input {
        border: unset;
        border-bottom: 1px black solid;
        border-radius: unset;

        &:focus-visible {
            border: unset;
            border-bottom: 1px black solid;
        }
    }
}