#payment { 
    // @media (max-width:1024px) {
    //     .sf-property.sf-property {
    //         display: inline-flex !important;
    //     }  
    // }
   
    .sf-property.sf-property {
        display: inline-flex;
    }
    tr.sf-table__heading {
        border-bottom-color: #037EE6;
    }
    td.sf-table__data.table__data.price {
        text-align: center !important;
    }
    hr.sf-divider {
        border-bottom-color: #037EE6;
    }
    del.sf-price__old {
        width: 44px;
    }
    .product-price.sf-price {
        margin-right: 34px;
    }
    @media (max-width:1024px) {
        button.summary__action-button.sf-button {
            margin-top: 650px;
            position: absolute;
            width: 343px !important;
        } 
        .sf-table__data:nth-child(even), .sf-table__header:nth-child(even) {
            order: 0;}
    }
    

}

.checkout__main {
    .sf-input input {
        border: unset;
        border-bottom: 1px black solid;
        border-radius: unset;

        &:focus-visible {
            border: unset;
            border-bottom: 1px black solid;
        }
    }
}