.addresses__actions{
    .action-button, .color-light, .addresses__button-delete, .desktop-only{
        width: 180px;
        height: 50px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
      }
}